// GLOBAL STYLES
html,
body {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Hiragino Sans GB', 'LiHei Pro',
  Arial, sans-serif;
  color: #333;
  background-color: #000;

  h1 {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 9px;
    text-transform: uppercase;
    margin: 12px 0;
    left: 4px;
  }

  h2 {
    color: #999;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.12em;
    margin-bottom: 30px;
    left: 3px;
  }

  h1,
  h2 {
    position: relative;
  }

  p {
    font-size: 14px;
    line-height: 2em;
    margin: 0;
    letter-spacing: 2px;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  a {
    color: #999;
    text-decoration: none;
    transition: color 0.2s ease;
  }

  a:hover {
    color: #f33;
  }

}

// ---------------------

// MAIN PAGE
#wrapper {
  position: absolute;
  width: 320px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -160px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

// ---------------------

// PORTFOLIO PAGE
.portfolio {
  margin: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .wrapper_portfolio {
    width: 500px;
    text-align: center;
    top: 10%;
    left: 3%;
    user-select: none;

    .myPhoto {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;

      img {
        width: 200px;
      }
    }

    .aboutMe {
      text-align: center;
      width: 90%;

      &_text {
        text-align: left;
        margin-bottom: 20px;
      }
    }
  }

  .wrapper_works {
    width: 600px;
    text-align: center;

    .work {
      display: flex;
      flex-direction: column;

      div {
        margin: 10px;
      }

      img {
        width: 350px;
      }
    }
  }

  @media (max-width: 500px) {
    .wrapper_portfolio {
      width: 300px;

      .myPhoto {
        img {
          width: 150px;
        }
      }
    }

    .wrapper_works {
      width: 300px;

      .work_img {
        img {
          width: 250px;
        }
      }
    }
  }
}

// ---------------------

// CV PAGE
.cv-backLink {
  display: block;
  margin: 20px;
}

.wrapper-CV {
  position: absolute;
  width: 500px;
  height: 90vh;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -45vh;
  z-index: 10000;

  @media (max-width: 500px) {
    width: 300px;
    margin-left: -150px;
  }
}

// ---------------------
